@mixin hdl($size: 22px, $line-height: 1.2, $weight: "Regular", $color: $dark) {
  font-size: rem($size);
  line-height: $line-height;
  font-family: "Heebo #{$weight}", sans-serif;
  color: $color;
}

@mixin paragraph(
  $size: 16px,
  $line-height: 1.4,
  $weight: "Regular",
  $color: $dark
) {
  font-size: rem($size);
  line-height: $line-height;
  font-family: "Heebo #{$weight}", sans-serif;
  color: $color;
}
