$base-font-size: 16px;

// colors
$black: #000;
$primary: #ff6464;
$secondary-light: #edf7fa;
$dark: #21243d;
$secondary: #00a8cc;

// fonts
$font-path: "../fonts/";

// layout
$breakpoint-lg: 1152px;
