$base-font-size: 16px;

// colors
$black: #000;
$primary: #ff6464;
$secondary-light: #edf7fa;
$dark: #21243d;
$secondary: #00a8cc;
$dark-1: #142850;
$light: #8695a4;
$light-1: #e0e0e0;

// fonts
$font-path: "../fonts/";

// layout
$breakpoint-lg: 855px;
