.card {
  width: calc(50% - rem(10px));
  padding: rem(23px);
  background-color: white;
  border-radius: rem(4px);
  box-sizing: border-box;
  color: $dark;
  margin-right: rem(20px);
  margin-bottom: rem(20px);
  &:nth-child(even) {
    margin-right: 0;
  }
  #{&}__hdl {
    @include hdl(26px, 1.4, "Bold");
  }

  #{&}__addInfo {
    @include paragraph(18px);
  }

  #{&}__date {
    border-right: rem(1px) solid $black;
    padding-right: rem(32px);
    margin-right: rem(26px);
  }

  #{&}__text {
    @include paragraph;
  }
}
