.posts {
  #{&}__header {
  }

  #{&}__header--more {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  #{&}__hdl {
    @include hdl;
  }

  #{&}__link {
    text-decoration: none;
    @include paragraph($line-height: 1.2, $color: $secondary);
  }

  #{&}__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }

  #{&}__item {
  }
}
